/* styles.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Changing font */
    background-color: #111133; /* Dark blue background */
    color: #fff;
}

header {
    background-color: #222244; /* Slightly lighter shade of blue */
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

section {
    flex-basis: 30%;
    background-color: #333355; /* Darker shade of blue */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

footer {
    background-color: #222244; /* Same color as header */
    padding: 10px;
    text-align: center;
}
